<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>OpenTour</title>
  <link rel="stylesheet" type="text/css" th:href="@{css/dangnhap.css}"/>
</head>
<body>
  <div class="login-wrap" style="margin-top: 180px ">
    <h2>Đăng nhập</h2>
    <h2 style="font-size: x-large;margin-top: 0px;">OpenTour</h2>
    <center>
      <p style="color: red" th:if="${param.error}" class="error">Sai tên đăng nhập hoặc mật khẩu</p>
      <p style="color: green" th:if="${param.logout}" class="success">Đăng xuất thành công</p>
    </center>
    <form class="form" th:method="POST" th:action="j_spring_security_check">
      <input type="text" placeholder="Tên đăng nhập" name="username" />
      <input type="password" placeholder="Mật khẩu" name="password" />
      <button type="submit"> Đăng nhập </button>
    </form>
  </div>
</body>
</html>
