<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>OpenTour</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--  <link rel="stylesheet" th:href="@{css/fontawesome/css/all.min.css}"/>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url(https://thongtinz.com/wp-content/uploads/2020/08/hinh-nen-background-mau-den.jpg)">
<style>
    th {
        text-align: center
    }
</style>
  <div th:replace="header :: header"></div>
  <div class="container">
    <center style="margin-bottom: 20px">
      <h2 style="color: white">Danh sách đối tác</h2>
      <form class="form-inline" role="search" id="formTimDoiTac">
        <div class="form-group">
          <input type="text" id="find_key" placeholder="Tên đối tác ..." class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Tìm Kiếm</button>
      </form>
    </center>
    <div class="table-responsive" style="background-color: white; margin-bottom: 20px">
      <table class="table table-bordered table-hover table-striped" style="margin-bottom: 0px">
        <thead>
        <tr class = "bg-primary">
          <th style="width: 3em; text-align: center">STT</th>
          <th style="text-align: center">Mã đối tác</th>
          <th style="text-align: center">Tên đối tác</th>
          <th>Email</th>
          <th>Điện thoại</th>
          <th>Mô tả</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="doitac,iter : ${ListDoiTac}" >
          <tr>
            <td th:utext="${iter.count} + 10*(${current}-1)" style="text-align: center"></td>
            <td th:utext = "${doitac.id}"></td>
            <td th:utext = "${doitac.ten}"></td>
            <td th:utext = "${doitac.email}"></td>
            <td th:utext = "${doitac.phoneNumber}"></td>
            <td th:utext = "${doitac.mota}"></td>
            <td style="width: 10em; text-align: center">
              <a th:href="'doi-tac/' + ${doitac.id}" title="Xem hoá đơn">
                <button>Xem hoá đơn</button>
              </a>
            </td>
          </tr>
        </th:block>
        </tbody>
      </table>

<!--      Pagination-->
  </div>
    <div style="float: right">
    <p style="color: white" th:text="'Tổng số: '+ ${totalPages} + ' trang'"></p>
      <ul class="pagination" style="margin-top: 0px; float: right">
        <li th:if="${current}>2">
          <a th:href="${url} +  (${current} - 2)"><<</a>
        </li>
        <li th:if="${current}>1">
          <a th:href="${url} +  (${current} - 1)" th:utext="(${current} - 1)"></a>
        </li>

        <li class="active"><a th:utext="${current}"></a></li>

        <li th:if="${current} + 1<${totalPages}">
          <a th:href="${url} +  (${current} + 1) " th:utext="(${current} + 1)"></a>
        </li>
        <li th:if="${current} + 2<${totalPages}">
          <a th:href="${url} +  (${current} + 2) " >>></a>
        </li>
      </ul>
    </div>
  </div>
<script th:src="@{/js/doitac.js}"></script>
</body>
</html>
